configServiceAddress:
  ip: localhost
  port: 9001
grpcOuterAddress:
  ip: isp-config-service
  port: 9002
grpcInnerAddress:
  ip: 0.0.0.0
  port: 9002
moduleName: isp-config-service

infraServerPort: 9006

logLevel: debug

maintenanceMode: false

keepConfigVersions: 64

credentials:
  - username: default
    password: 38kPk0upqI5j
    perms: ["all"]
  - username: monitor
    password: monitor
    perms: ["ready"]

internalClientCredential: default

rqlite:
  DataPath: "data"
  NodeID: 1
  BootstrapExpect: 1
  RaftAddr: "127.0.0.1:9008"
  JoinAddrs: "127.0.0.1:9008"
  FKConstraints: true
  AutoVacInterval: 12h
  AutoOptimizeInterval: 23h
  JoinAs: default

backup:
  Enable: true
  Amount: 5
  Interval: "24h"
  ClearInterval: "168h"
  Sub:
    Dir: "/app/data/backups/rqlite"
    Name: "backup.sqlite.gz"

metricsAutodiscovery:
  enable: true